<footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                © MisterStark.ID - All rights reserved
                <div class="credits">
                    Themes <a href="https://bootstrapmade.com/demo/Bethany/">Bethany Theme</a> | Modified by <a href="http://coffeecodedev.id">Coffee Code Dev</a> | Hosting by <a href="http://misterstark.id">MisterStark.ID</a>
                </div>
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
