<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bethany Bootstrap Theme</title>
<meta name="description" content="MisterStark.ID | Setup and Maintenance Server | Web Hosting">
<meta name="keywords" content="misterstark.id, setup server, maintenance server, setup vps, maintenance vps, setup and maintenance server, setup and maintenance vps, setup and maintenance, server, vps, web hosting, hosting, website developer, developer, development, solo website developer, solo web hosting, surakarta web developer, surakarta web hosting, web hosting murah, jasa web hosting solo, jasa setup maintenance solo">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Jockey+One|Teko" rel="stylesheet">

<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
